@using Site22.Models;
@{
    string strTitle = "Таблицы с результатом";
    ViewBag.Title = strTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@strTitle</h2>




<table class="table">
    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Предмет</th>
            <th scope="col">Часы</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.EmpName;</td>
                <td>@item.subject;</td>
                <td>
                    Часы Лекций
                    <input type="number" class="form-control" size="80" width="80" id="pwd" value="@item.hoursForLect">
                    Часы практики
                    <input type="number" class="form-control" size="80" width="80" id="pwd" value="@item.hoursForPractice">
                    Часы лаб
                    <input type="number" class="form-control" size="80" width="80" id="pwd" value="@item.hoursForLab"> 
                </td>

            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Ошибки</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Bad)
        {
            <tr>

                <td>@item</td>

            </tr>
        }
    </tbody>
</table>




