
@using Site22.Models;
@model List<EmpAndHours>
@{
    string strTitle = "Таблицы с результатом";
    ViewBag.Title = strTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@strTitle</h2>


    @using (Html.BeginForm("Export", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Предмет</th>
                    <th scope="col">Часы</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>


                        <td> @Html.TextBoxFor(m => m[i].EmpName,  new { @class="form-control"}) </td>

                        <td>@Html.TextBoxFor(m => m[i].subject,  new { @class = "form-control" })</td>

                        <td>
                            Часы лекций
                            <br /> @Html.EditorFor(m => m[i].hoursForLect, new { @class = "form-control" , @type ="number", @min ="1", @max = "800"})
                            <br />Часы практики
                            <br /> @Html.EditorFor(m => m[i].hoursForPractice, new { @class = "form-control" })
                            <br /> Часы лабораторных
                            <br />   @Html.EditorFor(m => m[i].hoursForLab, new { @class = "form-control" })
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <input class="btn btn-primary" type="submit" value="Сохранить" />

    }
<table class="table">
    <thead>
        <tr>
            <th scope="col">Ошибки</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Bad)
        {
            <tr>

                <td>@item</td>

            </tr>
        }
    </tbody>
</table>


