@using Site22.Models;
@{
    string strTitle = "Таблицы с результатом";
    ViewBag.Title = strTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@strTitle</h2>


<ul>
    @foreach (var item in Model)
    {
        <p>@item.EmpName;</p>
        <p>@item.subject;</p>
        <li>@item.hoursForLect;</li>
        <li>@item.hoursForPractice;</li>
        <li>@item.hoursForLab;</li>
    }
</ul>

@ViewBag.Bad;


